<div id="terms-conditions">
    <div class="modal">
        <button type="button" class="close-modal" title="Close this window" id="terms-conditions-close">&times;</button>
        <h4>Terms and Conditions</h4>
        <p>
            We provide you with a simple online analytical tool to help you to define ongoing team effectiveness in organisational meetings. We do this via engaging you, the frustrated meetings attendees, by asking you to complete a very quick online Post Meeting Survey in which you score the Overall Meeting Effectiveness and we highlight ongoing Performance Factors that may over time be contributing to poor productivity.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        </p>
        <p>
            See here for research and analysis. Find out more about Our Solution, see How it Works and How Much Time We Can Save. Our Premium Offering provides HR managers and other “Control Users” with even more valuable analytics to help identify low productivity and identify issues that can so easily be addressed resulting in happier, more engaged and more productive people at work.
        </p>
        @*<form action="#">*@
            <div class="control-group">
                <label for="promotions-agree" class="checkbox">
                    <input type="checkbox" id="promotions-agree" name="promotions-agree" class="checkbox-style">
                    I wish to receive promotions from carefully selected third parties who also offer products that can improve my work life balance
                </label>
            </div>
            <div class="action">
                <button class="btn primary" id="accept-terms" type="submit">
                    <span>ACCEPT</span>
                </button>
            </div>
        @*</form>*@
    </div>
</div>
