@model SBM.Web.Models.Account.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot your password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/styles/forgotpassword")

<div id="main" class="forgot-password">
    <div class="wrapper">
        <h2>Forgot your password?</h2>
        <p class="instructions">
           Please follow the instructions we sent to <a href="mailto:@Model.Email">@Model.Email</a>
        </p>
    </div>
</div>
