@model SBM.Common.Web.ActionResponse

<div class="forbidden-msg">
    <div class="modal">
        <button type="button" class="close-modal close-modal-light" title="Close this window">&times;</button>
        <h3>Sorry</h3>
        <br/>
        <div class="control-group clear">
            @Model.Message
        </div>
        <div class="clear"></div>
        <button class="button ok-close-light" type="button">
            <span>Close</span>
        </button>
    </div>
</div>       