<div id='requestInviteSent'>
    <div class="modal">
        <button type="button" class="close-modal close-modal-light" title="Close this window">&times;</button>
        <h3>Your request has been sent</h3>
        <h6>Your data security and confidentiality is paramount. The person to whom you sent the request must accept you as a new member of the User Group. This and other inbuilt safeguards guarantee that individuals can only ever join appropriate User Groups.</h6>
        <form action="#">
            <a href="#" class="ok-close-light btn primary"><span>OK</span></a>
        </form>
    </div>
</div>
