.forgot-password form {
    width: 642px;
}
.forgot-password .control-group {
    display: inline-block;
    margin: 0;
}
.forgot-password .btn {
    display: inline-block;
    margin: 0 0 0 20px;
}
.forgot-password .instructions {
    background: url('../images/ico-envelope.png') 0 1px no-repeat transparent;
    color: #231f20;
    font-size: 14px;
    font-weight: 600;
    padding-left: 31px;
}