.question {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-size: 16px;
    color: #04739A;
    float: left;
    /*margin-bottom: 30px;*/
}

.question-required {
    display: none;
    color: red;
}

.answer-text {
    position: relative;
    /*top: -26px;*/
    left: 4px;
}

table {
    width: 100%;
    border-spacing: 0;
}

    table tr td {
        vertical-align: middle;
    }

    table tr:nth-child(even) {
        background: #f0f0f0;
    }

    table.question tr:nth-child(1) {
        background: #666; /* Цвет фона */
        color: #fff; /* Цвет текста */
    }


    table.answer tr:nth-child(1) {
        background: #f0f0ff; /* Цвет фона */
        color: #000; /* Цвет текста */
    }

a img {
    border-style: none;
}

.button {
    -moz-box-shadow: inset 0px 1px 0px 0px #cae3fc;
    -webkit-box-shadow: inset 0px 1px 0px 0px #cae3fc;
    box-shadow: inset 0px 1px 0px 0px #cae3fc;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
    background: -moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color: #79bbff;
    -webkit-border-top-left-radius: 37px;
    -moz-border-radius-topleft: 37px;
    border-top-left-radius: 37px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 37px;
    -moz-border-radius-bottomright: 37px;
    border-bottom-right-radius: 37px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #469df5;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    height: 50px;
    line-height: 50px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #287ace;
}

    .button:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
        background: -moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
        background-color: #4197ee;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

    .button.select {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #795bff), color-stop(1, #4197ee) );
        background: -moz-linear-gradient( center top, #795bff 5%, #4197ee 100% );
        background-color: #795bff;
    }